<a href="https://colab.research.google.com/github/evertonrca/Data-Science-Projects/blob/main/SQLite%20testes/UtilizandoSQLite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Testes Python com SQLite

In [ ]:
#Instalando SQLite 3
! pip install pysqlite3

Requirement already satisfied: pysqlite3 in /usr/local/lib/python3.7/dist-packages (0.4.5)

In [ ]:
#Importando bibliotecas
import os
import sqlite3
import datetime
import time
import random
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
os.remove('/content/drive/MyDrive/Colab Notebooks/Python/Python-DSA/Cap06/banco_teste.db') if os.path.exists('/content/drive/MyDrive/Colab Notebooks/Python/Python-DSA/Cap06/banco_test.db') else None

In [ ]:
con = sqlite3.connect('/content/drive/MyDrive/Colab Notebooks/Python/Python-DSA/Cap06/banco_teste.db')

In [ ]:
cursor = con.cursor()

In [ ]:
print(f'Tipo con: {type(con)}')
print(f'Tipo cursos: {type(cursor)}')

Tipo con: <class 'sqlite3.Connection'>
Tipo cursos: <class 'sqlite3.Cursor'>

In [ ]:
#Criando tabelas no SQLite
cria_tabela = 'create table Teste '\
'(Id int primary key,'\
'Date datetime not null,'\
'Number int not null)'

In [ ]:
cursor.execute(cria_tabela)

In [ ]:
insercao = 'insert into Teste values (?, ?, ?)'

In [ ]:
for dado in range(0,20):
  cursor.execute(insercao, [dado, datetime.datetime.now(), random.randint(1,100)])
  time.sleep(0.2)

In [ ]:
#Gravando os dados no db
con.commit()

In [ ]:
#Consultando a tabela
selecao = 'select * from Teste'

In [ ]:
#Executando os selects
cursor.execute(selecao)

In [ ]:
#Salvando os registros no objeto dados
dados = cursor.fetchall()

In [ ]:
#Visualizando os dados
print('ID,            Date,              Number')
dados

ID,            Date,              Number

[(0, '2021-04-04 15:26:41.261852', 16),
 (1, '2021-04-04 15:26:41.467093', 50),
 (2, '2021-04-04 15:26:41.667654', 76),
 (3, '2021-04-04 15:26:41.868027', 95),
 (4, '2021-04-04 15:26:42.068662', 25),
 (5, '2021-04-04 15:26:42.269009', 97),
 (6, '2021-04-04 15:26:42.469399', 39),
 (7, '2021-04-04 15:26:42.669762', 81),
 (8, '2021-04-04 15:26:42.870186', 27),
 (9, '2021-04-04 15:26:43.070658', 45),
 (10, '2021-04-04 15:26:43.271068', 81),
 (11, '2021-04-04 15:26:43.471473', 24),
 (12, '2021-04-04 15:26:43.671918', 22),
 (13, '2021-04-04 15:26:43.872336', 51),
 (14, '2021-04-04 15:26:44.072628', 1),
 (15, '2021-04-04 15:26:44.273087', 95),
 (16, '2021-04-04 15:26:44.473490', 91),
 (17, '2021-04-04 15:26:44.673922', 64),
 (18, '2021-04-04 15:26:44.874355', 86),
 (19, '2021-04-04 15:26:45.074748', 35)]

In [ ]:
cursor.execute('select max(Id)+1 from Teste')

In [ ]:
id = list(cursor.fetchone())

In [ ]:
print(id)

[20]

In [ ]:
#Inserindo novos dados
for x in range(id[0], 50):
  cursor.execute('insert into Teste values (?, ?, ?)', [x, datetime.datetime.now(), random.randint(0,100)])

In [ ]:
#Verificando novamente
cursor.execute('select * from Teste')

In [ ]:
cursor.fetchall()

[(0, '2021-04-04 15:26:41.261852', 16),
 (1, '2021-04-04 15:26:41.467093', 50),
 (2, '2021-04-04 15:26:41.667654', 76),
 (3, '2021-04-04 15:26:41.868027', 95),
 (4, '2021-04-04 15:26:42.068662', 25),
 (5, '2021-04-04 15:26:42.269009', 97),
 (6, '2021-04-04 15:26:42.469399', 39),
 (7, '2021-04-04 15:26:42.669762', 81),
 (8, '2021-04-04 15:26:42.870186', 27),
 (9, '2021-04-04 15:26:43.070658', 45),
 (10, '2021-04-04 15:26:43.271068', 81),
 (11, '2021-04-04 15:26:43.471473', 24),
 (12, '2021-04-04 15:26:43.671918', 22),
 (13, '2021-04-04 15:26:43.872336', 51),
 (14, '2021-04-04 15:26:44.072628', 1),
 (15, '2021-04-04 15:26:44.273087', 95),
 (16, '2021-04-04 15:26:44.473490', 91),
 (17, '2021-04-04 15:26:44.673922', 64),
 (18, '2021-04-04 15:26:44.874355', 86),
 (19, '2021-04-04 15:26:45.074748', 35),
 (20, '2021-04-04 15:26:45.426309', 63),
 (21, '2021-04-04 15:26:45.441400', 81),
 (22, '2021-04-04 15:26:45.441558', 56),
 (23, '2021-04-04 15:26:45.441580', 16),
 (24, '2021-04-04 15:26:45.441592', 62),
 (25, '2021-04-04 15:26:45.441604', 46),
 (26, '2021-04-04 15:26:45.441615', 13),
 (27, '2021-04-04 15:26:45.441627', 57),
 (28, '2021-04-04 15:26:45.441638', 85),
 (29, '2021-04-04 15:26:45.441650', 24),
 (30, '2021-04-04 15:26:45.441662', 19),
 (31, '2021-04-04 15:26:45.441673', 23),
 (32, '2021-04-04 15:26:45.441684', 72),
 (33, '2021-04-04 15:26:45.441695', 98),
 (34, '2021-04-04 15:26:45.441707', 64),
 (35, '2021-04-04 15:26:45.441719', 80),
 (36, '2021-04-04 15:26:45.441731', 97),
 (37, '2021-04-04 15:26:45.441743', 74),
 (38, '2021-04-04 15:26:45.441766', 39),
 (39, '2021-04-04 15:26:45.441779', 62),
 (40, '2021-04-04 15:26:45.441791', 28),
 (41, '2021-04-04 15:26:45.441803', 73),
 (42, '2021-04-04 15:26:45.441815', 55),
 (43, '2021-04-04 15:26:45.441828', 20),
 (44, '2021-04-04 15:26:45.441841', 11),
 (45, '2021-04-04 15:26:45.441854', 36),
 (46, '2021-04-04 15:26:45.441866', 21),
 (47, '2021-04-04 15:26:45.441880', 8),
 (48, '2021-04-04 15:26:45.441892', 21),
 (49, '2021-04-04 15:26:45.441904', 80)]

In [ ]:
#Gravando dados
con.commit()

In [ ]:
#Fechando conex√£o
con.close()